.loginPage{
    height: 100%;
    width: 100%;
    display:flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color: #808e9b;
    background: #1e272e;
    margin: 0px;
}

.loginPage-imagelogo{
    height: 150px;
    width: 30%;
    transform: scale(0.9);
}

.loginPage-form{
    height: 250px;
    width: 100%;
    display:flex; 
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}

.loginPage-userInput{
    height: 20%;
    width: 30%;
    margin-top: 20px;
}

.loginPage-inputs{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    border: none;
    color: #808e9b;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

.loginPage-passwordToggleIcon{
    margin-left: -45px;
    cursor: pointer;
    font-size: 20px;
}

.loginPage-userToggle{
    display: none;
}

.LoginPage-loginButton{
    height: 20%;
    width: 30%;
    margin-top: 30px;
}

.loginPage-login{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.loginPage-login:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.LoginPage-forgetRemember{
    width: 30%;
    height: 50px;
    display:flex; 
    flex-direction:row;
    justify-content:space-between;
}

.LoginPage-forgetRemember #forgetPassword:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.LoginPage-forgetRemember #rememberMe:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.loginPage-signupLink{
    width: 30%;
    height: 100px;
    margin-top: 50px;
    display:flex; 
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
}

.loginPage-signupLink #signupLink{
    margin-left: 15px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}


.loginPage-signupLink #signupLink:hover{
    transform: scale(1.08);
    cursor: pointer;
}

@media screen and (max-width: 960px){
    .loginPage-imagelogo{
        width: 60%;
    }

    .loginPage-userInput{
        width: 60%;
    }

    .LoginPage-loginButton{
        width: 60%;
    }

    .LoginPage-forgetRemember{
        width: 60%;
    }

    .loginPage-signupLink{
        width: 60%;
    }
}