.groupSettingPage{
    height: 100%;
    width: 100%;
    display:flex; 
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    background:#1e272e;
}

.groupSetting-Container{
    height: 100%;
    width: 100%;
    display:flex; 
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}

.groupSetting-groupNavbar{
    display: none;
}

.groupSetting-navbar{
    height: 91px;
    width: 100%;
    outline: 1px solid #808e9b;
}

.groupSetting-navbar #backicon{
    font-size: 91px
}

.groupSetting-navbar #backbtn{
    width: 200px;
    height: 100%;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: transparent;
    align-items: center;
    border: none;
}

.groupSetting-navbar #backbtn:hover{
    background-color: #d2dae2;
    color: #1e272e;
    transition: all 0.2s ease-out;
    cursor: pointer;
    transform: scale(1.08);
}

.groupSetting-details{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    outline: 1px solid #808e9b;
}

.groupSetting-membertitle{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.groupSetting-membertitle #title{
    margin-left: 80px;
    margin-right: 50px;
}

.groupSetting-details #editicon{
    font-size: 50px;
}

.groupSetting-editbtn{
    width: 20px;
    height: 90px;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: transparent;
    align-items: center;
    border: none;
    margin-right: 70px;
}

.groupSetting-editbtn:hover{
    color: #d2dae2;
    transition: all 0.2s ease-out;
    cursor: pointer;
    transform: scale(1.08);
}

.groupSetting-details #deleteicon{
    font-size: 50px;
}

.groupSetting-deletebtn{
    width: 20px;
    height: 90px;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: transparent;
    align-items: center;
    border: none;
}

.groupSetting-deletebtn:hover{
    color: #d2dae2;
    transition: all 0.2s ease-out;
    cursor: pointer;
    transform: scale(1.08);
}

.groupMemberlist{
    width: 750px;
    height: 150px;
    padding: 0px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    list-style: none;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: grab;
}

.groupMemberlist::-webkit-scrollbar {
    display: none;
}

.memberInfo{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    cursor: pointer;
}

.memberInfo #memberImage{
    height: 100px;
    width: 100px;
    overflow:hidden;
    border-radius: 50%;
}

.memberInfo #memberUsername{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.memberInfo:hover{
    transform: scale(1.08);
}

.groupSetting-genre{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    color: white;
}

.groupSetting-genretitle{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.groupSetting-genretitle #title{
    margin-left: 80px;
    margin-right: 80px;
}

.genre-list{
    height: 150px;
    width: 700px;
    margin-left: 80px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    flex-wrap: wrap;
    color: white;
    list-style: none;
}

.genreInfo #genrename{
    width: 120px;
    height: 40px;
    background: #4b6584;
    flex: 0 0 33.333333%;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    color: white;
}

.genreInfo #genrename:hover{
    background:#d1d8e0;   
    color: #1e272e;
    transition: all 0.2s ease-out;
    cursor: pointer;
    transform: scale(1.08);
}

.groupSetting-delete{
    width: 90%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    margin-top: -5%;
}

.groupSetting-delete #deleteBtn{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: 0px;
    background: #d63031;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.groupSetting-delete #deleteBtn:hover{
    background: #fc5c65;   
    color: #1e272e;
    transform: scale(1.08);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.groupSetting-searchAllUser{
    font-size: 40px;
    width: 70%;
    margin-bottom: 20px;
    margin-left: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    background: #1e272e;
}

.groupSetting-allUserList{
    width: 95%;
    height: 300px;
    overflow-y: auto;
}

.groupSetting-allUserList::-webkit-scrollbar{
    display: none;
}

.groupSetting-userInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    background: transparent;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.groupSetting-userInfo #userImage{
    height: 70px;
    width: 70px;
    overflow:hidden;
    border-radius: 50%;
}

.groupSetting-userInfo #userName{
    color: white;
    margin-left: 10px;
    font-size: 40px;
    font-weight: bold;
}

.groupSetting-userInfo:hover{
    margin-left: 20px;
    background: #1e272e;
    transform: scale(1.08);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.groupSetting-selectingGenre{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: right;
}

.groupSetting-selectingGenre #title{
    width: 500px;
    position: relative;
    left: 16px;
    top: -30px;
    font-size: 40px;
    color: #1e272e;
}

.groupSetting-genreList{
    margin-top: -50px;
    list-style: none;
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

.groupSetting-genreList::-webkit-scrollbar{
    display: none;
}

.groupSetting-genreRow{
    width: 20%;
    height: 40px;
    padding: 10px;
}

.groupSetting-genreButton{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 70%;
    font-weight: bold;
    border: none;
    background: #1e272e;
    color: white;
    transition: 0.1s ease-in-out;
}

.groupSetting-genreButton:hover{
    transform: scale(1.08);
    color: #a5b1c2;
    font-size: 80%;
    cursor: pointer;
}

@media screen and (max-width: 960px){

    .groupSettingPage{
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    .groupSetting-Container{
        height: 90vh;
        width: 100vw;
    }

    .groupSetting-groupNavbar{
        height: 10vh;
        width: 100vw;
        display: block;
        outline: 1px solid #808e9b;
    }

    .groupSetting-details{
        outline: none;
    }

    .groupSetting-navbar{
        display: none;
    }

    .groupSetting-title #title{
        margin-left: 40px;
    }

    .groupMemberlist{
        width: 70%;
        margin-left: 40px;
        height: 150px;
        cursor: grab;
    }

    .groupSetting-genre #title{
        margin-left: 40px;
    }

    .genre-list{
        margin-left: 40px;
        height: 150px;
        width: 70%;
    }

    .groupSetting-genre{
        margin-top: 10px;
    }

    .genreInfo #genrename{
        margin-top: 5%;
    }

}


