.groupSetting-page{
    height: 100%;
    width: 100%;
    display:flex; 
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    background:#1e272e;
}

.groupSetting-container{
    height: 100%;
    width: 100%;
    display:flex; 
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}

.groupSetting-bar{
    display: none;
}

.groupSetting-navbar{
    height: 90px;
    width: 100%;
    outline: 1px solid #808e9b;
}

.groupSetting-navbar .backicon{
    font-size: 90px
}

.groupSetting-backbtn{
    width: 200px;
    height: 100%;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: transparent;
    align-items: center;
    border: none;
}

.groupSetting-backbtn:hover{
    background-color: #d2dae2;
    color: #1e272e;
    transition: all 0.2s ease-out;
    cursor: pointer;
    transform: scale(1.08);
}

.groupSetting-details{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    outline: 1px solid #808e9b;
}

.groupSetting-title{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-right: 10px;
}

.member-title{
    margin-left: 80px;
}

.groupSetting-details .editicon{
    font-size: 50px;
}

.groupSetting-editbtn{
    width: 200px;
    height: 90px;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: transparent;
    align-items: center;
    border: none;
}

.groupSetting-editbtn:hover{
    color: #d2dae2;
    transition: all 0.2s ease-out;
    cursor: pointer;
    transform: scale(1.08);
}

.member-pic{
    width: 750px;
    height: 150px;
    padding: 0px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    list-style: none;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: grab;
}

.member-pic::-webkit-scrollbar {
    display: none;
}

.memberInfo{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.memberInfo #memberImg{
    height: 100px;
    width: 100px;
    overflow:hidden;
    border-radius: 50%;
}

.memberInfo #memberusername{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.groupSetting-genre{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    color: white;
}

.genre-title{
    margin-left: 80px;
}

.genre-list{
    height: 150px;
    width: 700px;
    margin-left: 80px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    flex-wrap: wrap;
    color: white;
    list-style: none;
}

.genreInfo #genrename{
    width: 120px;
    height: 40px;
    background: #4b6584;
    flex: 0 0 33.333333%;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    color: white;
}

.genreInfo #genrename:hover{
    background:#d1d8e0;   
    color: #1e272e;
    transition: all 0.2s ease-out;
    cursor: pointer;
    transform: scale(1.08);
}

.groupSetting-delete{
    width: 90%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    margin-top: -10%;
}

.groupSetting-deletebtn{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: 0px;
    background: #d63031;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.groupSetting-deletebtn:hover{
    background: #fc5c65;   
    color: #1e272e;
    transform: scale(1.08);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 960px){

    .groupSetting-page{
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    .groupSetting-container{
        height: 90vh;
        width: 100vw;
    }

    .groupSetting-bar{
        height: 10vh;
        width: 100vw;
        display: block;
        outline: 1px solid #808e9b;
    }

    .groupSetting-details{
        outline: none;
    }

    .groupSetting-navbar{
        display: none;
    }

    .member-title{
        margin-left: 40px;
    }

    .member-pic{
        width: 70%;
        margin-left: 40px;
        height: 150px;
        cursor: grab;
    }

    .genre-title{
        margin-left: 40px;
    }

    .genre-list{
        margin-left: 40px;
        height: 150px;
        width: 70%;
    }

    .genreInfo #genrename{
        margin-top: 5%;
    }

    .groupSetting-genre{
        margin-top: 10px;
    }
}


