.homePage{
    height: 100%;
    width: 100%;
    background: #1e272e;
    font-weight: bold;
    display:flex; 
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
}

.homePage-container {
    height: 100%;
    width: 100%;
    display:flex; 
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    outline: 1px solid #808e9b;
}

.homepage-group{
    height: 300px;
    width: 100%;
    display:flex; 
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
}

.homepage-creategroup{
    height: 250px;
    width: 50%;
    display:flex; 
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}

.homepage-creategroup #ctext{
    color:aliceblue;
    font-size: 175%;
    text-align: center;
}

.homepage-createbutton{
    width: 150px;
    height: 50px;
    font-size: 150%;
    display:flex; 
    flex-direction:row;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(0, 132, 255);
    border-radius: 10px;
}

.homepage-createbutton:hover {
    background: #007cf8;
    color: #535252;
    transition: all 0.2s ease-out;
    cursor: pointer;
    transform: scale(1.08);
}

.homepage-group #cpicture{
    height: 300px;
    width: 450px;
}

.homepage-allGroups{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}

.homepage-allGroups #mtext{
    color:aliceblue;
    font-size: 150%;
}

.homepage-groupList{
    width: 60%;
    height: 150px;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: grab;
}

.homepage-groupList::-webkit-scrollbar{
    display: none;
}

.homepage-allGroup{
    width: 100px;
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
}

.homepage-allGroup #groupIcon{
    width: 90px;
    height: 80px;
    border-radius: 10px;
    border: none;
    font-size: 150%;
    font-weight: bold;
    color: #1e272e;
    background: #8c7ae6;
    text-decoration: none;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.homepage-allGroup #groupName{
    color: aliceblue;
}

.homepage-allGroup #groupIcon:hover{
    transform: scale(1.08);
    cursor: pointer;
    background-color: aliceblue;
}

.homepage-review{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homepage-review #rtext{
    color:aliceblue;
    font-size: 200%;
    margin-right: 50px;
}

.homepage-reviewbutton{
    width: 200px;
    height: 60px;
    font-size: 150%;
    padding: 10px;
    display:flex; 
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(0, 132, 255);
    border-radius: 10px;
}

.homepage-reviewbutton #reviewIcon{
    margin-left: 10px;
    margin-top: 10px;
}

.homepage-reviewbutton:hover{
    transform: scale(1.08);
    cursor: pointer;
    color: #1e272e;
}

@media screen and (max-width: 960px){
    .homePage{
        margin: 0;
        padding: 0;
        display:flex; 
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    .homePage-container{
        height: 90vh;
    }

    .homepage-group #cpicture{
        display: none;
    }

    .homepage-creategroup{
        height: 200px;
        width: 95%;
        display:flex; 
        flex-direction:row;
        justify-content: space-evenly;
        align-items: center;
    }

    .homepage-creategroup #ctext{
        margin-left: 20px;
        font-size: 150%;
        text-align: left;
    }

    .homepage-createbutton{
        font-size: 100%;
    }

    .homepage-allGroups{
        margin-top: -30px;
    }

    .homepage-groupList{
        width: 65%;
    }

    .homepage-review{
        justify-content: space-evenly;
    }
    
    .homepage-review #rtext{
        color:aliceblue;
        font-size: 150%;
        margin-left: 20px;
    }
    
    .homepage-reviewbutton{
        width: 200px;
        height: 50px;
        font-size: 95%;
        margin-right: 20px
    }

}