.popup-window{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container{
    position: relative;
    padding: 16px;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    background-color: #7f8c8d;
}

.popup-close{
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border: 0px
}

.popup-close .popup-closeIcon{
    font-size: 50px
}

.popup-closeIcon{
    color:white;
}

.popup-closeIcon:hover{
    background: #3d3d3d;
    color: #d2dae2;
    transition: all 0.2s ease-out;
    cursor: pointer;
    transform: scale(1.08);
    border-radius: 10px;
}