.signupPage{
    height: 100%;
    width: 100%;
    display:flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color: #808e9b;
    background: #1e272e;
    margin: 0px;
}

.signupPage #imagelogo{
    height: 150px;
    width: 30%;
    transform: scale(0.9);
}

.signupPage #failedSignup {
    font-size: 15px;
    color: red;
    margin-bottom: 5px;
}

.signupPage #successSignup {
    font-size: 15px;
    color: green;
    margin-bottom: -30px;
}

.signupPage #pwSame {
    font-size: 15px;
    color: red;
    margin-bottom: -30px;
}

.signupPage-form{
    height: 500px;
    width: 100%;
    display:flex; 
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}

.signupPage #userInput{
    height: 10%;
    width: 30%;
    margin-top: 20px;
}

.signupPage #inputs{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    border: none;
    color: #808e9b;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

.signupPage-form #passwordToggleIcon{
    margin-left: -45px;
    cursor: pointer;
    font-size: 20px;
}

.signupPage-userToggle{
    display: none;
}

.signupPage #signupButton{
    height: 10%;
    width: 30%;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.signupPage #signupButton:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.signupPage #goLogin{
    margin-top: 40px;
    display:flex; 
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.signupPage #goLogin:hover{
    transform: scale(1.08);
    cursor: pointer;
}

@media screen and (max-width: 960px){
    .signupPage #imagelogo{
        width: 60%;
    }

    .signupPage #userInput{
        width: 60%;
    }

    .signupPage #signupButton{
        width: 60%;
    }
}